.Education-container {
	padding-top: 10%;
	padding-bottom: 15%;
  text-align: center;
}

/* h6 {
  font-size: 30px;
} */

/* h6::after {
  background: #f00;
  background: linear-gradient(to right, transparent 0%, #f00 50%, transparent 100%);  
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
} */



.Education-container p {
  margin-top: 15px;
  font-size: 14px;
  text-align: justify;
}

.edu-info {
  padding-left: 50px;
  padding-right: 50px;
}